@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root, .default, .alt {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6e1c9;
    background-image:
        linear-gradient(#00000010 1px, transparent 1px),
        linear-gradient(90deg, #00000010 1px, transparent 1px);
    background-size: 50px 50px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background: transparent;
}

nav a {
    color: #e6e1c9;
    text-decoration: none;
    font-weight: 600;
}

.logo-box {
    color: #e6e1c9;
    background-color: #0f0f0f;
    padding: 6px 13px;
    transform: translate(10px, 10px);
}

.logo-box a {
    font-weight: normal;
}

.menu-toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.menu-toggle p {
    position: absolute;
    transition: opacity 0.3s ease;
    margin: 0;
    color: #e6e1c9;
    text-align: justify;
    background-color: #0f0f0f;
    padding: 6px 13px;
    transform: translate(-31px, 0px);
}

#menu-close {
    font-size: 1.8rem;
    line-height: 1;
    color: #e6e1c9;
}

.menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0f0f0f;
    z-index: 1;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.menu-overlay.open {
    transform: translateX(0);
}

.menu-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-links {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.link a,
.link p {
    color: #e6e1c9;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
}

.link a:hover,
.link p:hover {
    color: #f71e95;
}

.grid-container,
.grid-container2 {
    margin-left: 50px;
    margin-right: 50px;
    background: transparent;
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-auto-rows: 50px;
    gap: 0;
}

.grid-container {
    margin-top: 150px;
    margin-bottom: 0;
}

.grid-container2 {
    margin-bottom: 50px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0f0f0f;
    font-size: 30px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.intro {
    font-size: x-large;
    margin: 0px 50px 0px 50px;
    display: flex;
    gap: 2em;
    flex-direction: row;
}

.aboutspan {
    background-color: #00000099;
    color: #e6e1c9;
}

.colourspan {
    color: #ff2888fc;
}

.professional,
.personal {
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    flex: 1;
}

.professional:hover,
.personal:hover,
.text:hover {
    background-color: #00000099;
    color: #e6e1c9;

    .button {
        background-color: #e6e1c9a1;
        color: #00000099;
    }

    .school,
    .cgpa,
    .aboutspan {
        background-color: #e6e1c9a6;
        color: #00000099;
    }
}

.button {
    border-style: solid;
    border-width: 1px;
    border-color: #00000099;
    width: min-content;
    margin-top: 30px;
    padding: 15px;
    color: #e6e1c9;
    background-color: #f480c0bd;
}

.personal a {
    text-decoration: none;
}

.education {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 50px 50px 50px 50px;
    flex-direction: row;
}

.text,
.picture {
    flex: 1;
    min-width: 250px;
}

.text {
    background: transparent;
    color: #0f0f0f;
    padding: 1.5em;
    box-sizing: border-box;
}

.text p {
    font-size: 22px;
}

.text,
.picture img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-style: solid;
    border-width: 1px;
    border-color: #0f0f0f;
    display: block;
}

.text:hover {
    transform: scale(1.05);
    background-color: #00000099;
    color: #e6e1c9;

    .button {
        background-color: #e6e1c9a1;
        color: #00000099;
    }

    .school,
    .cgpa {
        background-color: #e6e1c9a6;
        color: #00000099;
    }
}

.school {
    background-color: #f71e9539;
}

.cgpa {
    background-color: #e9f71e39;
}

.picture:hover img {
    transform: scale(1.05);
}

footer {
    color: #0f0f0f;
    text-align: center;
    padding: 1em 0;
    width: 100%;
}

@media (min-width: 800px) {
    .menu-overlay {
        width: 48.5vw;
    }
}

@media (max-width: 750px) {

    .grid-container,
    .grid-container2 {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 800px) {
    .intro, .education {
        flex-direction: column;
    }

    .professional,
    .personal {
        width: 100%;
        height: auto;
    }
}